.textElementBox {
  position: fixed;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  font-family: "Caveat";
}

.errorMessage {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #ef4444;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}